---
import SectionContainer from "@/components/SectionContainer.astro"
import Layout from "@/layouts/Layout.astro"
import { getActiveLocale, getI18N, resolveLocalizedPath } from "@/locales/index"
import { getCollection, render } from "astro:content"

export const prerender = true

export async function getStaticPaths() {
	const articles = await getCollection("articles")

	return articles.map((article: any) => ({
		params: { id: article.slug },
		props: { article },
	}))
}

const { article } = Astro.props
const { data } = article
const { author, cover, description, lang, pageTitle, timestamp, title } = data
const { Content } = await render(article)

const locale = getActiveLocale(Astro)
const i18n = getI18N({ currentLocale: locale })

if (!article || article === undefined) {
	return Astro.redirect(resolveLocalizedPath("/404"))
}
---

<Layout
	title={`${title} - Rixel's articles`}
	description={`${description} | ${i18n.AUTHOR}: ${author} | ${i18n.LANGUAGE}: ${lang}`}
	canonical={new URL(
		resolveLocalizedPath(`/articles/${pageTitle}/`, locale),
		"https://rixel.dev"
	).toString()}
>
	<img
		class="parallax absolute top-0 w-full translate-y-0 bg-cover bg-fixed bg-center opacity-5"
		src={cover}
		alt={`Rixel's article ${title}`}
		style="mask-image: linear-gradient(black 20%, transparent 80%);"
	/>

	<SectionContainer>
		<div class="flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12">
			<header>
				<h1
					class="text-xl font-extrabold text-accent sm:text-3xl"
					transition:name={`article-${pageTitle}-title`}
				>
					{title}
				</h1>
			</header>

			<div class="prose prose-invert mt-8 w-full" transition:name={`article-${pageTitle}-content`}>
				<Content />
			</div>

			<footer
				class="mt-8 flex w-full flex-col items-end justify-center text-xs italic text-secondary"
			>
				<span>
					{timestamp}
				</span>

				<span>
					{i18n.AUTHOR}: {author} | {i18n.LANGUAGE}: {lang}
				</span>
			</footer>
		</div>
	</SectionContainer>
</Layout>

<script>
	import { $ } from "@/libs/dom-selector"

	document.addEventListener("DOMContentLoaded", () => {
		window.addEventListener("scroll", () => {
			const parallax = $(".parallax")
			const offset = window.scrollY
			if (parallax) parallax.style.transform = `translateY(${offset * 0.5}px)`
		})
	})
</script>
