---
import MainTitle from "@/components/MainTitle.astro"
import PhotographyCard from "@/components/PhotographyCard.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import AboutMe from "@/components/web/AboutMe.astro"
import Articles from "@/components/web/Articles.astro"
import Photography from "@/icons/Photography.astro"
import type { Preload } from "@/interfaces/preload"
import { getActiveLocale, getI18N, resolveLocalizedPath } from "@/languages/index"
import Layout from "../layouts/Layout.astro"

const locale = getActiveLocale(Astro)
const i18n = getI18N({ currentLocale: locale })
const canonical = new URL(resolveLocalizedPath("/", locale), "https://capelix.dev").toString()

const preloadImages: Preload[] = [
	{
		as: "image",
		href: `https://capelix.dev/images/about-image.webp`,
		type: "image/webp",
		rel: "preload",
	},
]
---

<Layout
	title={i18n.HOME_PAGE_TITLE}
	description={i18n.HOME_PAGE_DESCRIPTION}
	canonical={canonical}
	preload={preloadImages}
>
	<SectionContainer id="web">
		<Articles />
	</SectionContainer>

	<SectionContainer>
		<div class="flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12">
			<MainTitle>
				<Photography class="size-8" />
				{i18n.PHOTOGRAPHY}
			</MainTitle>

			<PhotographyCard />
		</div>
	</SectionContainer>

	<SectionContainer>
		<AboutMe />
	</SectionContainer>
</Layout>
